header {
  display: flex;
  flex-direction: column;
  background: $color-header-bg;
  text-align: center;
  height: 200px;
  justify-content: center;

  color: $color-font;

  h1 {
    text-transform: uppercase;
  }
  h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  hr {
    border-bottom: 1px dotted $color-font;
    width: 500px;
  }
}
