@import "variables";
@import 'normalize';
@import 'fonts';
@import 'header';
@import 'box';

body,
html {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: $color-font;
  background: $color-background;
}

main {
  width: 1024px;
  text-align: left;
  margin: 0 auto;
  padding-top: 50px;

  .column {
    padding-right: 20px;
    width: 50%;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0;

  span {
    padding-right: 14px;
    color: $color-accent;
  }
}
