mixin box(work)
    .box
        h3= work.position 
        h4
            = work.company
            |  / 
            = work.date
        .content 
            ul
                each resp in work.responsible
                     li= resp

            
            each tag in work.tags
                span.tag= tag
