include ./mixins/header
include ./mixins/box

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        include includes/header.pug


        main
            .column
                +header('Work experience')
                .box-wrapper
                    +box('Webdesigner/Coder', 'Cyberstream Technology s. r. o / 2006 - 2010', '<b>Responsible</b> for developing Flash applications, coding HTML templates from PSD files.')
                    +box('Webdesigner/Coder', 'Sabris / 2010 - 2014', 'content')

            .column
                +header('Education')
                .box-wrapper
                    +box('Webdesigner/Coder', 'Cyberstream Technology s. r. o / 2006 - 2010', '<b>Responsible</b> for developing Flash applications, coding HTML templates from PSD files.')
                    +box('Webdesigner/Coder', 'Sabris / 2010 - 2014', 'content')

//https://www.google.cz/search?biw=1920&bih=910&tbm=isch&sa=1&ei=lrkgW6m1HLOlmwW__7nIBQ&q=cv+templates&oq=cv+templates&gs_l=img.3..0i67k1l2j0l3j0i67k1j0l4.1681.1681.0.1844.1.1.0.0.0.0.91.91.1.1.0....0...1c.1.64.img..0.1.90....0.mSBVNGU22SU#imgrc=rm_o-zhAPtJBBM: